<%= render 'refills/navigation' %>

<div id="user_container">
  <h2><%= @user.fullname %>'s Profile</h2>
  
  
<div id="active_map" class="active_map"></div>
<script>
    active_map = L.map('active_map').setMaxBounds([[41.644286, -87.940101], [42.023135, -87.523661]]);
    var legend = L.control({position: 'bottomright'});
    addLegend(active_map)
    L.tileLayer('http://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
          '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
          'Imagery © <a href="http://mapbox.com">Mapbox</a>', id: 'examples.map-i86knfo3'}).addTo(active_map);
    $(document).ready(function() {

      $("#modal3_div").hide();
      locate(active_map);
    });
  </script>
  <p>Your notifications:</p>
  <ul>
    <% @user.notifications.each do |notification| %>
      <li><%= notification.region.display_self[:name] %> | <%= link_to 'Remove', notification_path(notification), method: :delete, class: "remove_notification" %>
        <ul>
          <li><%= notification.region.display_self[:next_sweep] %></li>
        </ul>
      </li>
    <% end %>
  </ul>
  <ul>
    <li><%= link_to 'Back', root_path %></li>
  </ul>
</div>

<%= render 'refills/footer2' %>