<div id="active_map"></div>
<script>
  $(document).ready(function() {
    active_map = L.map('active_map').setView([<%= lat %>, <%= long %>], 15);
    L.tileLayer('http://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
      '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
      'Imagery © <a href="http://mapbox.com">Mapbox</a>', id: 'examples.map-i86knfo3'}).addTo(active_map);
    var placeholder = [];
    <% regions[0].each do |region| %>
      region = <%= region.html_safe %>;
      placeholder.push(draw_red(region));
    <% end %>
    <% regions[1].each do |region| %>
      region = <%= region.html_safe %>;
      placeholder.push(draw_green(region));
    <% end %>

    var marker = L.marker([<%= lat %>, <%= long %>])
    everything = L.layerGroup([marker].concat.apply([marker], placeholder));
    everything.addTo(active_map);

    watchForClick(marker);
  });
</script>