<div id="active_map" class="active_map"></div>
<script>
  $(document).ready(function() {
    var map = L.map('active_map').setView([<%= lat %>, <%= long %>], 15);
    L.tileLayer('http://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
        '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
        'Imagery © <a href="http://mapbox.com">Mapbox</a>', id: 'examples.map-i86knfo3'}).addTo(map);
    <% regions[0].each do |region| %>
      region = <%= region.html_safe %>;
      draw_red(region, map);
    <% end %>
    <% regions[1].each do |region| %>
      region = <%= region.html_safe %>;
      draw_green(region, map);
    <% end %>

    var marker = L.marker([<%= lat %>, <%= long %>]).addTo(map);

    map.on('click', function(e) {
      if(typeof(marker)==='undefined') {
        marker = L.marker(e.latlng,{ draggable: true});
        console.log(e.latlng);
        marker.addTo(map);        
      } else {
        console.log(e.latlng)
        marker.setLatLng(e.latlng);         
      }
      var data = { latitude: e.latlng.lat, longitude: e.latlng.lng }
      console.log(data);
      $.post('/current_position', data, function(response){ 
        $('.copy :first-child').html('Next Street Cleaning<br>For Your Location Is:<br>' + response.next_sweep);
        var days = response.sweep_days;
        str = "<h3>Next Cleaning: " + response.next_sweep + "</h3><h3>Street Cleaning Days</h3><ul>";
        for (var i=0; i<days.length; i++) {
          str += '<li>' + days[i] + '</li>';
        }
        $('.cleaning_col').html(str + '</ul>');
      }, 'JSON');
    });
  });
</script>
